<h1>Add a new word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="new_word">Word</label>
    <input id="name" name="new_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add!</button>
</form>