@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
  background-image: url("../img/ink-in-water-blue.jpg");
}

h1 {
  font-family: 'Chelsea Market', cursive;
}

h2{
  font-family: 'Chelsea Market', cursive;
}

h3 {
  font-family: 'Chelsea Market', cursive;
}

h4 {
  font-family: 'Chelsea Market', cursive;
}

h5 {
  font-family: 'Chelsea Market', cursive;
}

p {
  font-family: 'Chelsea Market', cursive;
}

a {
  font-family: 'Chelsea Market', cursive;
}